body {
	background-color: #ADD8E6;
	font-family: roman, 'times new roman', times, serif;
}

h1 {
	font-family: courier, fixed, monospace;
	color: #7A0000;
}

h2 {
	font-family: roman, 'times new roman', times, serif;
	color: #600000;
}
h3 {
	font-family: monospace;
	color: #AF008D;
}


p {
	font-family: roman, 'times new roman', times, serif;
	color: #000000;
}
